@import "tailwindcss";

:root {

  --primary: #0f9d91;
  --primary-dark: #087f75;
  --primary-light: #d9f7f3;

  --accent: #ff6b1a;

  --background: #f5f8f7;
  --surface: #ffffff;

  --text-primary: #263342;
  --text-secondary: #647184;

  --border: #e2e8e6;

  --success: #22c55e;
  --warning: #f59e0b;
  --error: #ef4444;

  --type-campur-bg: #fef3c7;
  --type-campur-text: #92400e;

  --type-laki-bg: #dbeafe;
  --type-laki-text: #1e40af;

  --type-perempuan-bg: #fce7f3;
  --type-perempuan-text: #9d174d;
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-primary-light: var(--primary-light);

  --color-accent: var(--accent);

  --color-background: var(--background);
  --color-surface: var(--surface);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);

  --color-border: var(--border);

  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);


  --font-heading: var(--font-geist);
  --font-body: var(--font-rubik);

  --color-type-campur-bg: var(--type-campur-bg);
  --color-type-campur-text: var(--type-campur-text);

  --color-type-laki-bg: var(--type-laki-bg);
  --color-type-laki-text: var(--type-laki-text);

  --color-type-perempuan-bg: var(--type-perempuan-bg);
  --color-type-perempuan-text: var(--type-perempuan-text);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--text-primary);
  font-family: var(--font-rubik), sans-serif;
}